@{
    ViewData["Title"] = "Home Page";
}

<div id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Country</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

</div><!-- End #main -->
